:root
    height 100%
    background #f7f6f5 
    font-family sans-serif

body
    margin 0
    height 100%


.App
    position absolute
    top    0
    bottom 0
    left   0
    right  0
    box-sizing border-box
    padding 1em
    min-width: 1024px
    min-height 720px
      
    &-Inner
      box-sizing border-box
      height 100%
      border 1px solid #dad6d6;
      box-shadow 0 0 5px #cecbcb; 
      background #fff